@charset "utf-8";

/* HTML元素 */

body { /* 字体 */
    font: 14px/20px normal;
}

body>* {
    margin: 0 auto;
    width: 1000px;
}

a {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
}

a:hover {
    font-weight: bold;
}

div {
    overflow: hidden;
}

div.scroll {
    overflow-y: auto;
}

div.open {
    overflow: visible;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 10px 0.5em;
}

img {
    border: none;
    vertical-align: bottom;
}

p {
    margin: 0;
    padding: 0.5em 1em 0;
    text-align: left;
    text-indent: 2em;
}

pre {
    margin: 3px 0.5em;
    overflow-x: auto;
    color: #0000ff;
    border: 1px solid #ffcccc;
}

textarea {
    display: block;
    margin: 0 auto;
}

menu, dl {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
dl li {
	float: left;
}

ol, ul {
    padding-left: 3em;
    padding-right: 1em;
}

/* 常用 */

.b {
    font-weight: bold;
}

.c {
    margin: 0 auto;
    text-align: center;
}

.h {
    display: none;
}

.l {
    float: left;
}

.r {
    float: right;
}

.m {
    margin: 2px;
}

.p {
    padding: 2px;
}

.t { /* 标题 */
    padding: 0.5em 0.5em 0;
    font-weight: bold;
    border-bottom: 1px solid #ffcccc;
}

/* 页面模块 */

header nav a { /* 页首导航 */
    width: 6em;
    font: 16px/24px normal;
    border: 1px solid #ffffff;
    background: #ffcccc;
}

.box { /* 布局盒 */
    position: relative;
    margin: 2px;
    padding: 2px;
    border: 1px solid #ffcccc;
    border-radius: 6px;
    box-shadow: 0 0 2px 2px #f9f0f0;
}

.border { /* 布局框 */
    position: relative;
    border: 2px solid #ffcccc;
}
.border>div {
    padding: 2px;
    border: 1px solid #ffcccc;
}

footer nav a { /* 页脚链接 */
    width: 6em;
    border: 1px solid #ffffff;
    background: #ffcccc;
}

/* 信息显示 */

.error {
    color: #ff0000;
}

.info {
    color: #ffcccc
}

.locked {
    color: #cccccc;
}

.required {
    color: #ff0000;
}

/* 内容格式 */

.label {
    font-style: italic;
    text-align: right;
}

.line {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.row {
    padding: 0.5em;
}

.text {
    padding: 3px 0.5em;
}

/* 宽度 */

.w300 {
    width: 300px;
}