/*--- HTML元素 ---*/
body {
	margin: 0;
	font: $font$;
	color: $color$;
	background: $background$;
}
a {
	color: $lightanchor$;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	
}

h1,h2,h3,h4,h5 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

hr {
	margin: 0 0.2em;
	border: none;
	border-bottom: 1px solid $darkline$;
}

img {
	margin: 0;
	border: none;
	vertical-align: text-bottom;
}

input {
	
}

menu,dl {
	margin: 0;
	padding: 0;
}

menu>li {
	list-style-type: none;
}

ol,ul {
	margin: 0.5em;
	padding-left: 2em;
}

p {
	margin: 0.5em;
	text-indent: 2em;
}

pre {
	margin: 0.5em;
	padding: 0.5em;
	background-color: #fcfffc;
	border: 1px dashed $darkline$;
}

progress {
	
}

span {
	word-break: break-all;
}

table td, table th {
	border: 1px solid $darkline$;
}
table tr:nth-child(even) {
	background-color: $darkarea$;
}
table.data tr:hover {
	background-color: $lightarea$;
}

textarea {
	margin: 0.5em;
	padding: 0.5em;
}
/*--- HTML元素 ---*/


/*--- 通用 ---*/
.b {
	font-weight: bold;
}

.back {
	background-color: $backarea$;
	opacity: 0.6;
}

.bd {
	background-color: $darkarea$;
}

.bl {
	background-color: $lightarea$;
}

.c {
	margin-left: auto;
	margin-right: auto;
}

.cl {
	height: 2px;
	clear: both;
}

.cv {
	text-align: center;
	vertical-align: middle;
}

.e {
	padding: 0.3em 0.5em;
	border-top: 1px solid $lightline$;
}

.f {
	width: 100%;
	height: 100%;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.h {
	display: none;
}

.i {
	display: inline-block;
}

.l {
	position: relative;
}

.m {
	margin: 0.5em;
}

.o {
	overflow: hidden;
}

.p {
	padding: 0.5em;
}

.q {
	background-color: $darkarea$;
	border: 1px dashed $darkline$;
}

.r {
	border-radius: 0.5em;
}

.s {
	box-shadow: 0 3px 6px $lightline$;
}

.t {
	font-size: 1.25em;
	font-weight: bold;
	padding: 0.3em 0;
	border-bottom: 1px solid $darkline$;
}

.tc {
	text-align: center;
}

.tg {
	color: #f04000;
}

.tl {
	text-align: left;
}

.tr {
	text-align: right;
}

.tpl {
	display: none;
}
/*--- 通用 ---*/


/*--- 页面布局 ---*/
.page {
	position: relateve;
	margin: 0 auto;
	clear: both;
	min-width: $min$;
	max-width: $max$; /* 全局宽度 */
}

header, footer {
	clear: both;
}

.lside {
	display: inline-block;
	clear: left;
}

.rside {
	float: right;
	clear: right;
}

.main {
}

.box { /* 布局块 */
	position: relative;
	margin: 0.5em;
	margin-bottom: 1em;
	padding: 0.5em;
	border: 1px solid $darkline$;
}
/*--- 页面布局 ---*/


/*--- 信息提示 --*/
.error {
	color: $errorcolor$;
}

.notice {
	color: $noticecolor$
}

.locked {
	color: $lockedcolor$;
}

.required {
	color: $errorcolor$;
}
/*--- 信息提示 --*/


/*--- 内容格式 ---*/
.item {
	border-bottom: 1px solid $lightline$;
}
.item:last-child {
	border-bottom: none;
}

.label {
	font-style: italic;
	text-align: right;
}

.line {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.row {
	margin: 0.5em;
	padding: 0.5em;
}

.text {
	padding: 0.5em 1em;
}
/*--- 内容格式 ---*/


/*--- 宽度 ---*/
.w1,.w2,.w3,.w4,.w5,.w6,.w7,.w8,.w9,.w100,.w200,.w300,.w400,.w500,.w600,.w700,.w800,.w900 {
	display: inline-block;
}
.w1 {
	width: 11%;
}
.w2 {
	width: 22%;
}
.w3 {
	width: 33%;
}
.w4 {
	width: 44%;
}
.w5 {
	width: 55%;
}
.w6 {
	width: 66%;
}
.w7 {
	width: 77%;
}
.w8 {
	width: 88%;
}
.w9 {
	width: 100%;
}
.w100 {
	width: 100px;
}
.w200 {
	width: 200px;
}
.w300 {
	width: 300px;
}
.w400 {
	width: 400px;
}
.w500 {
	width: 500px;
}
.w600 {
	width: 600px;
}
.w700 {
	width: 700px;
}
.w800 {
	width: 800px;
}
.w900 {
	width: 900px;
}
/*--- 宽度 ---*/

.footer {
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 1px solid $lightline$;
}
.header {
	position: relative;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 2px solid $darkline$;
}
.header .logo {
	position: absolute;
	z-index: 1;
	float: left;
}
.header a {
	position: relative;
	display: inline-block;
	font-size: 20px;
	line-height: 36px;
	height: 36px;
	min-width: 36px;
	padding: 6px;
	color: $darkanchor$;
}
.header a.on, .header a:hover {
	background: $lightarea$;
	border-bottom: 2px solid #f04000;
	margin-bottom: -2px;
}

.screen {
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(bai/img/screen.png) repeat;
}

.dialog {
	display: inline-block;
	min-width: 400px;
	border: 1px solid $darkline$;
	background-color: #ffffff;
	opacity: 1;
}
.dialog .title {
	padding: 0.3em;
	font-size: 1.5em;
	font-weight: bold;
	background-color: $darkarea$;
	border-bottom: 1px solid $darkline$;
}
.dialog .content {
	padding: 1em;
}
