
/*--- HTML元素 ---*/
body {
	font: $font$; /* 全局字体 */
	color: $color$; /* 全局字体颜色 */
	background: $background$; /* 全局背景 */
}

body>* {
	margin: 0 auto;
	width: $width$; /* 全局宽度 */
}

a {
	display: inline-block;
	text-indent: 0;
	text-decoration: none;
	text-align: center;
	vertical-align: bottom;
	color: $acolor$; /* 全局链接颜色 */
	cursor: pointer;
}

a:hover {
	font-weight: bold;
	text-shadow: 0px 0px 4px $shadowcolor$;
	background: -webkit-linear-gradient(top, #f0f9f0, #fff0f9);
	background: -moz-linear-gradient(top, #f0f9f0, #fff0f9);
	background: -ms-linear-gradient(top, #f0f9f0, #fff0f9);
	background: -o-linear-gradient(top, #f0f9f0, #fff0f9);
}

div {
	overflow: hidden;
}

div.oy {
	overflow-y: auto;
}

div.oxy {
	overflow: visible;
}

h1,h2,h3,h4,h5 {
	margin: 0;
	line-height: 1.5em;
}

img {
	margin: 0;
	border: none;
	vertical-align: bottom;
}

p {
	margin: 0;
	padding: 0.5em 0.5em 0;
	text-align: left;
	text-indent: 2em;
}

pre {
	margin: 0 1em;
	padding: 0.5em 1em;
	overflow-x: auto;
	background-color: $areacolor$;
	border: 1px dashed $linecolor$;
}

textarea {
	display: block;
	margin: 0 auto;
}

menu,dl {
	margin: 0;
	padding: 0;
}

menu>li {
	list-style-type: none;
	float: left;
}

ol,ul {
	padding-left: 1.5em;
	padding-right: 1em;
}
/*--- HTML元素 ---*/


/*--- 常用 ---*/
.b {
	font-weight: bold;
}

.c {
	margin: 0 auto;
	text-align: center;
}

.h {
	display: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.fi {
	display: inline-block;
}

.tr {
	text-align: right;
}

.m4 {
	margin: 4px;
}

.p4 {
	padding: 4px;
}

.t { /* 标题 */
	padding: 0.5em 0.5em 0;
	font-weight: bold;
	border-bottom: 1px solid $linecolor$;
}
/*--- 常用 ---*/


/*--- 页面布局 ---*/
header nav a { /* 页首导航 */
	width: 6em;
	font: 16px/24px normal;
	border: 1px solid #ffffff;
	background: $areacolor$;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.box { /* 布局块 */
	position: relative;
	margin: 4px 8px 8px 4px;
	padding: 4px;
	border: 1px solid $linecolor$;
	border-radius: 8px;
	box-shadow: 0 0 4px $shadowcolor$;
}

.gap { /* 布局框 */
	position: relative;
	margin: 4px 8px 8px 4px;
	padding: 4px;
}

footer nav a { /* 页脚链接 */
	width: 6em;
	border: 1px solid #ffffff;
	background: $areacolor$;
}
/*--- 页面布局 ---*/


/*--- 信息提示 --*/
.error {
	color: $errorcolor$;
}

.notice {
	color: $noticecolor$
}

.locked {
	color: $lockedcolor$;
}

.required {
	color: $errorcolor$;
}
/*--- 信息提示 --*/


/*--- 内容格式 ---*/
.label {
	font-style: italic;
	text-align: right;
}

.line {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.row {
	padding: 0.5em;
}

.text {
	padding: 0.5em 1em;
}
/*--- 内容格式 ---*/

/*--- 宽度 ---*/
.w1 {
	display: inline-block;
	width: 11%;
}
.w2 {
	display: inline-block;
	width: 22%;
}
.w3 {
	display: inline-block;
	width: 33%;
}
.w4 {
	display: inline-block;
	width: 44%;
}
.w5 {
	display: inline-block;
	width: 55%;
}
.w6 {
	display: inline-block;
	width: 66%;
}
.w7 {
	display: inline-block;
	width: 77%;
}
.w8 {
	width: 88%;
}
.w9 {
	display: inline-block;
	width: 100%;
}
.w100 {
	display: inline-block;
	width: 100px;
}
.w200 {
	display: inline-block;
	width: 200px;
}
.w300 {
	display: inline-block;
	width: 300px;
}
.w400 {
	display: inline-block;
	width: 400px;
}
.w500 {
	display: inline-block;
	width: 500px;
}
.w700 {
	display: inline-block;
	width: 600px;
}
.w500 {
	display: inline-block;
	width: 700px;
}
.w800 {
	display: inline-block;
	width: 800px;
}
.w900 {
	display: inline-block;
	width: 900px;
}
/*--- 宽度 ---*/
