/*--- HTML元素 ---*/
body {
	font: $font$;
	color: $color$;
	background: $background$;
	background-color: $bgcolor$;
}
a {
	color: $acolor$;
	cursor: pointer;
	text-decoration: underline;
}

button {
	
}

h1,h2,h3,h4,h5 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

hr {
	border: none;
	border-bottom: 1px solid $linecolor$;
}

img {
	margin: 0;
	border: none;
	vertical-align: text-bottom;
}

input {
	
}

menu,dl {
	margin: 0;
	padding: 0;
}

menu>li {
	list-style-type: none;
}

ol,ul {
	margin: 0.5em;
	padding-left: 2em;
}

p {
	margin: 0.5em;
	text-indent: 2em;
}

pre {
	margin: 0.5em;
	padding: 0.5em;
	background-color: $areacolor$;
	border: 1px dashed $linecolor$;
}

progress {
	
}

span {
	word-break: break-all;
}

table, table td, table th {
	border: 1px solid $linecolor$;
}
table tr:nth-child(even) {
	background-color: $areacolor$;
}

textarea {
	margin: 0.5em;
	padding: 0.5em;
}
/*--- HTML元素 ---*/


/*--- 通用 ---*/
.b {
	font-weight: bold;
}

.c {
	margin-left: auto;
	margin-right: auto;
}

.cl {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.h {
	display: none;
}

.i {
	display: inline-block;
}

.l {
	position: relative;
}

.m {
	margin: 0.5em;
}

.o {
	overflow: hidden;
}

.p {
	padding: 0.5em;
}

.q {
	background-color: $areacolor$;
	border: 1px dashed $linecolor$;
}

.r {
	border-radius: 0.5em;
}

.t {
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 0.5em;
	border-bottom: 1px solid $linecolor$;
}

.tc {
	text-align: center;
}

.tl {
	text-align: left;
}

.tr {
	text-align: right;
}
/*--- 通用 ---*/


/*--- 页面布局 ---*/
.page {
	margin: 0 auto;
	width: $width$; /* 全局宽度 */
}

header, footer {
	overflow: hidden;
	clear: both;
}

.lside {
	display: inline-block;
	clear: left;
}

.rside {
	float: right;
	clear: right;
}

.main {
	display: inline-block;
}

header nav a { /* 页首导航 */
	width: 6em;
	font: 16px/24px normal;
	border: 1px solid #ffffff;
	background: $areacolor$;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.box { /* 布局块 */
	position: relative;
	margin: 0.5em;
	margin-bottom: 1em;
	padding: 0.5em;
	border: 1px solid $linecolor$;
	border-radius: 6px;
}

.gap { /* 布局框 */
	position: relative;
	margin: 4px 8px 8px 4px;
	padding: 4px;
}

footer nav a { /* 页脚链接 */
	width: 6em;
	border: 1px solid #ffffff;
	background: $areacolor$;
}
/*--- 页面布局 ---*/


/*--- 信息提示 --*/
.error {
	color: #ff0000;
}

.notice {
	color: $noticecolor$
}

.locked {
	color: $lockedcolor$;
}

.required {
	color: $errorcolor$;
}
/*--- 信息提示 --*/


/*--- 内容格式 ---*/
.label {
	font-style: italic;
	text-align: right;
}

.line {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.row {
	padding: 0.5em;
}

.text {
	padding: 0.5em 1em;
}
/*--- 内容格式 ---*/


/*--- 宽度 ---*/
.w1,.w2,.w3,.w4,.w5,.w6,.w7,.w8,.w9,.w100,.w200,.w300,.w400,.w500,.w600,.w700,.w800,.w900 {
	display: inline-block;
}
.w1 {
	width: 11%;
}
.w2 {
	width: 22%;
}
.w3 {
	width: 33%;
}
.w4 {
	width: 44%;
}
.w5 {
	width: 55%;
}
.w6 {
	width: 66%;
}
.w7 {
	width: 77%;
}
.w8 {
	width: 88%;
}
.w9 {
	width: 100%;
}
.w100 {
	width: 100px;
}
.w200 {
	width: 200px;
}
.w300 {
	width: 300px;
}
.w400 {
	width: 400px;
}
.w500 {
	width: 500px;
}
.w600 {
	width: 600px;
}
.w700 {
	width: 700px;
}
.w800 {
	width: 800px;
}
.w900 {
	width: 900px;
}
/*--- 宽度 ---*/
