@charset "utf-8";

.version li {
	margin: 5px;
	width: 48%;
	border: 1px solid #ffcccc;
	border-radius: 4px;
}
.version li.left {
	float: left;
}
.version li.right {
	float: right;
}

.logo {
	padding-left: 70px;
	height: 64px;
	background: url("../img/logo.png") no-repeat;
}

