@CHARSET "UTF-8";

/* 背景 */
.bg {
	background-color: #f0f9f0;
}

.bgb {
	background-color: #99cc99;
}

/* 边框 */
.border {
	border: 1px solid #99cc99;
}

.borderb {
	border: 1px solid #f0f9f0;
}

.logo {
	position: relative;
	margin: 6px;
	width: 64px;
	height: 64px;
	background: url("../img/logo.png") no-repeat;
}

.menu { /* 页首导航 */
	background: url("../img/bar.png") repeat-x;
}

/* 宽度 */
.w950 {
	width: 950px;
}

.w720 {
	width: 720px;
}

.w220 {
	width: 220px;
}

.w630 {
	width: 630px;
}

.w310 {
	width: 310px;
}