@CHARSET "UTF-8";

@import "../bai.css";

/*
Dac样式：水墨丹青
color: #446444;
border: #99cc99;
background: #f0f9f0;
*/
body {
	color: #333f33;
}

a {
	color: #009f3c;
}

h1,h2 {
	color: #446444;
}

pre {
	border: 1px solid #f0f9f0;
}

.error {
	background-color: #f0f9f0;
	background: url("img/error.png") repeat left top;
}

.error>div,.hint,.notice {
	color: #f0f9f0;
	background-color: #99cc99;
}

a.button {
	padding: 5px;
	width: 140px;
	font-size: 16px;
	line-height: 40px;
	background: url("img/button.png") no-repeat center bottom;
}

/* 滚动广告 */
.ad {
	height: 21px;
	overflow: hidden;
}

.ad li {
	height: 20px;
	border-bottom: 1px solid #f0f9f0;
}

/* 行菜单 */
.aline {
	text-align: center;
	background: #ffffff url("img/bar.png") repeat-x left bottom;;
}

.aline a {
	width: 6em;
	line-height: 30px;
	border-left: 1px solid #f0f9f0;
	border-right: 1px solid #f0f9f0;
}

.aline a:hover,.aline a.on {
	background-color: #f0f9f0;
}

/* 背景 */
.bg {
	background-color: #f0f9f0;
}

.bg>div {
	background-color: #ffffff;
}

.bga {
	background-color: #f0f9f0;
}

.bgb {
	background-color: #99cc99;
}

.bg100 {
	margin: 3px;
	padding: 10px 50px;
	width: 850px;
	height: 80px;
	border: 2px solid #f0f9f0;
	background: url("img/bg100.png") no-repeat left top;
}

.bg300 {
	margin: 3px;
	padding: 50px;
	width: 850px;
	height: 200px;
	border: 2px solid #f0f9f0;
	background: url("img/bg300.png") no-repeat left top;
}

/* 边框 */
.border {
	float: left;
	position: relative;
	margin: 2px;
	padding: 0;
	border: 2px solid #f0f9f0;
}

.border > div {
	border: 1px solid #99cc99;
}

.bordera {
	border: 1px solid #99cc99;
}

.borderb {
	border: 1px solid #f0f9f0;
}

.checked {
	color: #99cc99;
	background-color: #f0f9f0;
}

/* 内容导读 */
.guid {
	margin: 5px;
	background-color: #f0f9f0;
	border: 1px dashed #99cc99;
}

.info {
	padding: 2px;
	color: #99cc99;
	background-color: #f0f9f0;
	border: 1px solid #f0f9f0;
}

.info:hover {
	border: 1px solid #99cc99;
}

/* 项目 */
.item {
	padding: 3px 5px 0;
	border-bottom: 1px solid #f0f9f0;
}

/* 列表 */
.list li,.picklist li {
	margin: 1px 2px;
	padding: 2px 3px 0;
	border-bottom: 1px solid #f0f9f0;
}

.picklist li {
	cursor: pointer;
}

.list li a:hover,.picklist li:hover a {
	padding: 0 0.5em;
	background: url("img/bar.png") no-repeat left top;
}

.picklist li.on {
	background: #f0f9f0 url("img/pick.png") no-repeat right bottom;
}

.list>div,.picklist li>div {
	display: none;
}

/* 图片列表 */
.listpic,.pickpic {
	width: 150%;
	height: 110px;
}

.listpic li,.pickpic li {
	float: left;
	cursor: pointer;
}

.listpic li img,.pickpic li img {
	margin: 2px;
	padding: 2px;
	width: 150px;
	height: 100px;
	border: 1px solid #99cc99;
}

.ml {
	float: left;
	margin: 5px 1px 5px 0;
	width: 15px;
	height: 100px;
	cursor: pointer;
	border-right: 1px solid #99cc99;
	background: url("img/ml.png") no-repeat right bottom;
}

.mr {
	float: right;
	margin: 5px 0 5px 3px;
	width: 15px;
	height: 100px;
	cursor: pointer;
	border-left: 1px solid #99cc99;
	background: url("img/mr.png") no-repeat left bottom;
}

.pic {
	margin: 0 18px;
	text-align: center;
	background: url("img/bar.png") repeat-x left bottom;
}

.pic img {
	margin: 2px auto;
	max-width: 80%;
	height: 300px;
	border: 2px solid #f0f9f0;
}

/* 徽标 */
.logo {
	width: 220px;
	height: 64px;
	background: #ffffff url("img/logo.png") no-repeat left top;
}

/* 主菜单 */
.menu {
	height: 32px;
	background-color: #f0f9f0;
}

.menu li {
	float: left;
	position: relative;
	z-index: 1;
	margin: 0 1px;
	width: 6em;
	text-align: center;
	border: 1px solid #f0f9f0;
	background: #f0f9f0 url("img/menu.png") no-repeat center bottom;
}

.menu li a {
	color: #446444;
	width: 4em;
	font: bold 16px/28px normal;
	border: 1px solid #f0f9f0;
}

.menu li ul {
	display: none;
	position: absolute;
	left: -1px;
	top: 31px;
	border-top: 1px solid #f0f9f0;
	background-color: #f0f9f0;
}

.menu li.on,.menu li:hover {
	border: 1px solid #99cc99;
	background-color: #ffffff;
}

.menu li:hover ul {
	display: block;
}

.menu li:hover li {
	margin: 1px 0;
	border: 1px solid #99cc99;
}

/* 更多 */
.more {
	float: right;
	padding: 2px 70px 0px 5px;
	border-bottom: 2px solid #f0f9f0;
	background: url("img/more.png") no-repeat right bottom;
}

.more a {
	width: 6em;
}

.more a:hover {
	background: url("img/bar.png") no-repeat left top;
}

/* 展示栏 */
.show {
	overflow-y: auto;
	padding-bottom: 15px;
	background: url("img/show.png") no-repeat center bottom;
}

/* 招牌 */
.sign {
	float: left;
	width: 190px;
	height: 30px;
	background: url("img/sign.png") no-repeat left top;
}

/* 幻灯片 */
.slide {
	margin: 0;
	padding: 0;
	border: none;
	width: 310px;
	height: 215px;
}

/* 活页标签 */
.tag {
	position: relative;
	height: 31px;
	border-bottom: 1px solid #99cc99;
}

.tag li {
	float: left;
	width: 9em;
	text-align: center;
	border: 1px solid #f0f9f0;
	border-bottom: none;
	background: url("img/bar.png") no-repeat left top;
}

.tag li a {
	font: 16px/28px normal;
	border: 1px solid #f0f9f0;
}

.tag li.on a {
	border: 1px solid #ffffff;
	border-bottom: 1px solid #f0f9f0;
}

.tag li div {
	display: none;
	position: absolute;
	overflow-y: auto;
	z-index: 0;
	left: 0;
	top: 32px;
	height: 182px;
	border: 1px solid #99cc99;
	border-top: none;
	background-color: #ffffff;
}

.tag li div a {
	float: left;
	margin: 5px;
}

.tag li div img {
	width: 300px;
	border: 1px solid #f0f9f0;
}

.tag li.on {
	border: 1px solid #99cc99;
	border-bottom: 1px solid #ffffff;
	background: #ffffff;
}

.tag li.on div {
	z-index: 1;
}

/* 标题栏 */
.t {
	border-bottom: 2px solid #f0f9f0;
	background: url("img/t.png") no-repeat left bottom;
}

.th {
	padding: 0 0.5em;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	background: #ffffff url("img/th.png") no-repeat left bottom;
}

.tb {
	padding: 0 0.5em;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	background: #ffffff url("img/bar.png") repeat-x left top;
}

a.tb {
	line-height: 24px;
}

/* 表格 */
.table li {
	float: left;
	margin: 1px;
	padding: 2px 4px 0;
	border-bottom: 1px solid #f0f9f0;
}

.table li:hover,.table li.on {
	background-color: #f0f9f0;
	border-bottom: 1px solid #99cc99;
}

.table li>div {
	float: left;
	position: relative;
	overflow: visible;
	vertical-align: bottom;
	word-wrap: break-word;
}

.table li div.h {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 20px;
	border: 1px solid #99cc99;
	background-color: #f0f9f0;
}

.table li:hover div.h {
	display: block;
}